# Diretórios gerados por IDEs e ferramentas de build

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.settings/
.classpath
.project

# VS Code
.vscode/

# Mac OS
.DS_Store

# Diretórios de build
out/
bin/
nbbuild/
dist/
target/         # Para Maven
build/          # Para Gradle

# Arquivos temporários e de cache
*.log           # Arquivos de log
*.swp           # Arquivos temporários do Vim
*.bak           # Arquivos de backup
*.tmp           # Arquivos temporários

# Arquivos e pastas específicos de cada IDE
.apt_generated
.factorypath
.springBeans
.sts4-cache
/nbproject/private/
nbdist/
.nb-gradle/

# Arquivos de configuração do sistema
*.swp
