# Diretórios gerados por IDEs e ferramentas de build

# IntelliJ IDEA
.idea/

# Eclipse
.settings/
.classpath
.project

# VS Code
.vscode/

# Mac OS
.DS_Store

# Diretórios de build
out/
bin/
nbbuild/
dist/

# Arquivos e pastas específicos de cada IDE
.apt_generated
.factorypath
.springBeans
.sts4-cache
/nbproject/private/
/nbdist/
/.nb-gradle/
